<div class="container">
  <div class="row justify-content-sm-center">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 16rem; margin: 16px;">
        <img src="https://www.thespruceeats.com/thmb/h4qUhChyp_ebqcZoQErJBP1ofds=/891x668/smart/filters:no_upscale()/mojito-5a8f339fba61770036ec61d8.jpg" class="card-img-top"/>
        <div class="card-body">
          <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
