// Specific CSS for your home-page
body {
  background-color: rgb(220, 220,220);
}

.banner {
  margin: 0 auto;
  padding: 96px 0;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), asset-url('banner.png');
  background-size: cover;
  background-position: bottom;
}

.footer .fas.fa-heart {
  color: #db0259;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.container-form {
  margin: 72px 120px;
}

.brand a {
  color: #db0259;
  font-weight: bold;
}

.brand a:hover {
  color: #e64c89;
}

.btn-pink {
  color: #db0259;
  padding: 6px 16px;
  margin: 0 8px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #db0259;
}

.pages {
  padding: 4px 16px;
  font-weight: 600;
}

.btn-pink:hover {
  background-color: #db0259;
  color: rgb(20,20,20);
}

.btn-green {
  color: #398034;
  padding: 4px 16px;
  font-weight: 600;
  margin: 0 8px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #398034;
}

.btn-green:hover {
  background-color: #398034;
  color: rgb(20,20,20);
}

