// Specific CSS for your home-page
body {
  background-color: rgb(220, 220,220);
}
.banner {
  margin: 0 auto;
  padding: 80px 0;
  color: white;
  background-size: cover;
}

.footer {
  text-align: center;
  padding-top: 4px;
  color: white;
}

.footer .fas.fa-heart {
  color: #ed39af;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.container-form {
  margin: 72px 120px;
}

.brand a {
  color: #ed39af;
  font-weight: bold;
}

.brand a:hover {
  color: #e874c0;
}

.btn-pink {
  color: #e874c0;
  padding: 6px 16px;
  margin: 0 8px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #e874c0;
}

.btn-pink:hover {
  background-color: #e874c0;
  color: rgb(20,20,20);
}

.btn-green {
  color: #398034;
  padding: 6px 16px;
  margin: 0 8px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #398034;
}

.btn-green:hover {
  background-color: #398034;
  color: rgb(20,20,20);
}

