// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 300px;
  margin: 24px 32px;
  transition: all .3s;

  h3, h6 {
    color: white;
    font-weight: 400;
  }

  &:hover {
   box-shadow: 0 0 4px 8px rgba(207, 178, 176, .3);
   transform: scale(1.01);

   h3, h6 {
    font-weight: bold;
   }
  }
}

.row {
  margin: 24px 0 16px 0;
}

.card-show {
  display: flex;
  height: 300px;
  width: 400px;
  margin: 32px;
}
