<div class="container">
  <h1><%= link_to @cocktail.name, cocktail_path(@cocktail) %> </h1>
  <%= link_to 'Add new Review', new_cocktail_review_path(@cocktail), class: "btn btn-outline-primary" %>
  <% @cocktail.reviews.each do |review| %>
    <div class="row">
      <div class="col-sm-6">
        <%= review.content %>
      </div>
      <div class="col-sm-6 text-right">
        <%= "â­" * review.rating %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
